body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}
.contenFirst{
    width: 90%;
    display: block;
    margin: auto;

}
.divPrincipal{
    width: 750px;
    margin: auto;
}
.content{
    margin-left: 25px;
    margin-right: 25px;
}
.divImg{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
}
.divImg > img{
    width: 35%;
    height: 50%;
}
a{
    color: #eb7412;
}
p{
    color: #a0a0a0;
}
footer{
    text-align: left;
}
label{
    color: #a0a0a0;
    margin-left: 6px;
}
.divFooter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.articleFooter{
    margin: 10px;
}
.pFooter{
    color: #eb7412;
}
.pDate{
    font-size: 12px;
}
.pIn{
    color: #505050;
}
textarea{
    width: 100%;
    border: none;
    height: 150px;
}
.divComment{
    border: 1px solid #c4c4c4;
    width: 78%;
    margin: auto;
    padding: 5px;
}
.divButtonComment{
    border-top: 1px solid #c4c4c4;
    margin-left: -5px;
    margin-right: -5px;
    text-align: right;
}
.buttonComment{
    color: #fff;
    background-color: #505050;
    height: 40px;
    margin: 8px;
}
.divUltimo{
    display: flex;
    width: 100%;
}
.divLeft , .divRight{
    width: 50%;
    text-align: center;
    margin-top: 40px;
}
.divRight{
    text-align: center;
}
#ultimo{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #a0a0a0;
}